input[type="text"], input[type="password"], input[type="email"], input[type="tel"], select {
    font-size: 13px!important;
    letter-spacing: 2px;
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: rgba(144, 144, 144, 0.045);
    border: none;
    border: solid 1px rgba(144, 144, 144, 0.25);
    color: #888;
    margin: 6.5px auto!important;
    outline: 0;
    padding: 8px;
    text-decoration: none;
    width: 100%;
    justify-content: space-around;
    margin: auto;
    border-radius: 15px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    text-transform: uppercase;
    font-family: 'Outfit', sans-serif;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: textfield;
}
  textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: #fff;
    border: none;
    border: solid 1px rgba(144, 144, 144, 0.25);
    color: #f6f6f6;
    display: block;
    outline: 0;
    padding: 8px;
    text-decoration: none;
    width: 100%;
    float:left;
    border-radius: 50px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    text-transform: uppercase;
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 14px;
    resize: none;
  }

    input[type="text"]:required:invalid:not(:placeholder-shown),
    input[type="password"]:required:invalid:not(:placeholder-shown),
    input[type="email"]:required:invalid:not(:placeholder-shown),
    input[type="tel"]:required:invalid:not(:placeholder-shown),
    select:required:invalid:not(:placeholder-shown),
    textarea:required:invalid:not(:placeholder-shown) {
      border-color: #C5323E;
    }

    input[type="text"]:focus,
    input[type="password"]:focus,
    input[type="email"]:focus,
    input[type="tel"]:focus,
    select:focus,
    textarea:focus {
      border-color: #7090a2;
      box-shadow: 0 0 0 1px #7088a0;
      background: rgba(144, 144, 144, 0.10);
    }
    input[type="text"]:hover,
    input[type="password"]:hover,
    input[type="email"]:hover,
    input[type="tel"]:hover,
    select:hover,
    textarea:hover {
      background: rgba(144, 144, 144, 0.10);
    }