input[type="text"], input[type="password"], input[type="email"], input[type="tel"], select {
    font-size: 13px!important;
    letter-spacing: 2px;
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: rgba(144, 144, 144, 0.045);
    border: none;
    border: solid 1px rgba(144, 144, 144, 0.25);
    color: #888;
    margin: 6.5px auto!important;
    outline: 0;
    padding: 8px;
    text-decoration: none;
    width: 100%;
    justify-content: space-around;
    margin: auto;
    border-radius: 15px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    text-transform: uppercase;
    font-family: 'Outfit', sans-serif;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: textfield;
}
  textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: #fff;
    border: none;
    border: solid 1px rgba(144, 144, 144, 0.25);
    color: #f6f6f6;
    display: block;
    outline: 0;
    padding: 8px;
    text-decoration: none;
    width: 100%;
    float:left;
    border-radius: 50px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    text-transform: uppercase;
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 14px;
    resize: none;
  }

    input[type="text"]:required:invalid:not(:placeholder-shown),
    input[type="password"]:required:invalid:not(:placeholder-shown),
    input[type="email"]:required:invalid:not(:placeholder-shown),
    input[type="tel"]:required:invalid:not(:placeholder-shown),
    select:required:invalid:not(:placeholder-shown),
    textarea:required:invalid:not(:placeholder-shown) {
      border-color: #C5323E;
    }

    input[type="text"]:focus,
    input[type="password"]:focus,
    input[type="email"]:focus,
    input[type="tel"]:focus,
    select:focus,
    textarea:focus {
      border-color: #7090a2;
      box-shadow: 0 0 0 1px #7088a0;
      background: rgba(144, 144, 144, 0.10);
    }
    input[type="text"]:hover,
    input[type="password"]:hover,
    input[type="email"]:hover,
    input[type="tel"]:hover,
    select:hover,
    textarea:hover {
      background: rgba(144, 144, 144, 0.10);
    }




.exito {
  background-image: linear-gradient(transparent, #3A8D38)!important;
  min-height: 550px;
  height: 90% !important;
  padding: 2em 1em;
  opacity: 1;
  right: 0;
  left: 0;
  top: unset !important;
  bottom: 0;
  position: fixed;
  display: flex!important;
  flex-direction: column;
  z-index: 666;
  text-align: center;
  justify-content: end;
  animation: fadeout 0s ease-out 15s;
  animation-fill-mode: forwards;
  transition: ease-out 0.5s;
  opacity: 1;
  animation-duration: 5s;             
  animation-iteration-count: none;
}

.error {
  background-image: linear-gradient(transparent, #E3393E)!important;
  min-height: 550px;
  height: 90% !important;
  padding: 2em 1em;
  opacity: 1;
  right: 0;
  left: 0;
  top: unset !important;
  bottom: 0;
  position: fixed;
  display: flex!important;
  flex-direction: column;
  z-index: 666;
  text-align: center;
  justify-content: end;
  animation: fadeout 0s ease-out 15s;
  animation-fill-mode: forwards;
  transition: ease-out 0.5s;
  opacity: 1;
  animation-duration: 5s;             
  animation-iteration-count: none;
}

@keyframes fadeout {
  0% {opacity: 0.9;animation: ease-out 5s;
  animation-fill-mode: forwards;
  transition: ease-out 0.5s;animation-duration: 5s; visibility: visible;}
  10% {opacity: 0.9;animation: ease-out 5s;
  animation-fill-mode: forwards;
  transition: ease-out 0.5s;animation-duration: 5s; visibility: visible;}
  30% {opacity: 0.9;animation: ease-out 5s;
  animation-fill-mode: forwards;
  transition: ease-out 0.5s;animation-duration: 5s; visibility: visible;}
  50% {opacity: 0.9;animation: ease-out 5s;
  animation-fill-mode: forwards;
  transition: ease-out 0.5s;animation-duration: 5s; visibility: visible;}
  60% {opacity: 0.9;animation: ease-out 5s;
  animation-fill-mode: forwards;
  transition: ease-out 0.5s;animation-duration: 5s; visibility: visible;}
  80% {opacity: 0.9;animation: ease-out 5s;
  animation-fill-mode: forwards;
  transition: ease-out 0.5s;animation-duration: 5s; visibility: visible;}
  100% {opacity: 0;animation: ease-out 5s;
  animation-fill-mode: forwards;
  transition: ease-out 0.5s;animation-duration: 5s; visibility: hidden;}

} 

.exito p, .exito h2, .error p, .error h2{
  color: #fff!important;
}

.exito button, .error button {
  max-width: 450px;
}

.exito img, .error img {
    margin: 1rem auto;
}