.navegacion {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1.7rem 0;
  z-index: 1;
  background:#f0f0f0;
  opacity:0.9;
   -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  height: 80px;
}
.navegacion:hover {
  opacity:1;
  background:#ffffff;
   -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  box-shadow: 0 19px 38px rgb(0 0 0 / 9%), 0 15px 12px rgb(0 0 0 / 9%);
}
@media screen and (max-width: 850px) {
  .blanco {
  padding:0px!important;
}
}
.navegacion .fh5co-top-logo {
  float:left;
  top: 0.85rem;
  position: absolute;
}
.navegacion .fh5co-top-menu,
.navegacion .fh5co-top-social {
  float: right;
  display: flex;
  flex-direction: row;

}
.navegacion #fh5co-logo {
  font-size: 20px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Montserrat", Arial, sans-serif;
}
.navegacion .fh5co-social {
  margin: 3px 0 0 0;
  padding: 0;
}
.navegacion .fh5co-social li {
  padding: 0;
  margin: 0;
}
.navegacion .fh5co-social li a {
  color: rgba(0, 0, 0, 0.4);
}
.navegacion a {
  padding: 5px 0;
  color: #181818;
}
.navegacion li a {
  font-size: 15px!important;
}

.navegacion .menu-2 li.search {
  float: left;
  width: 83%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 0;
  margin: -5px 0 0 0;
}
.navegacion .menu-2 li input[type=text] {
  padding: 6px 10px;
  width: 60%;
  border: none;
  font-size: 13px;
  margin-top: 4px;
  background: transparent;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  text-align: center;
}
.navegacion .menu-2 li input[type=text]:focus {
  width: 100%;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.navegacion .menu-2 li button {
  margin-top: 4px;
  padding: 5px;
  background: transparent;
  border: none;
}
.navegacion .menu-2 li button i {
  color: rgba(0, 0, 0, 0.5);
}
.navegacion .menu-2 li button:hover, .navegacion .menu-2 li button:focus {
  background: transparent !important;
}
.navegacion .menu-2 li button:hover i, .navegacion .menu-2 li button:focus i {
  color: #181818;
}
.navegacion ul {
    padding: 0 0 0 5rem;
    display: flex;
    flex-direction: column;
    max-width: 250px;
}
.navegacion ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-block;
  text-transform: uppercase;
  margin: 0 1rem;
  font-weight: 600;
  color: #555;
  letter-spacing: 0.2rem;
  font-size: 14px;
  text-align: left;
}
.navegacion ul li a {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 600;
    font-size: 1rem !important;
    padding: 10px 0;
    color: #fff;
    float: left;
    text-align: left;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    border-radius: 5px;
    font-family: "Roboto Condensed", sans-serif;
    opacity: 0.6;
}

.navegacion ul li a:hover {
  opacity: 1;
  transition: 0.5s;
}

.navegacion ul li {
  width: 100%!important;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background: transparent!important;
  color: white!important;
}
.navegacion ul li.has-dropdown {
  position: relative;
}
.navegacion ul li.has-dropdown .dropdown {
  width: 150px;
  -webkit-box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.55);
  box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.55);
  z-index: 1002;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 40px;
  left: 0;
  text-align: left;
  background: #181818;
  padding: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}
.navegacion ul li.has-dropdown .dropdown:before {
  bottom: 100%;
  left: 40px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #181818;
  border-width: 8px;
  margin-left: -8px;
}
.navegacion ul li.has-dropdown .dropdown li {
  display: block;
  margin-bottom: 7px;
}
.navegacion ul li.has-dropdown .dropdown li:last-child {
  margin-bottom: 0;
}
.navegacion ul li.has-dropdown .dropdown li a {
  padding: 2px 0;
  display: block;
  color: #666666;
  line-height: 1.2;
  text-transform: none;
  letter-spacing: 0px;
  font-size: 15px;
}
.navegacion ul li.has-dropdown .dropdown li a:hover {
  color: #B5B5B7;
}
.navegacion ul li.has-dropdown:hover a, .navegacion ul li.has-dropdown:focus a {
  color: #181818;
}
.navegacion ul li.active > a {
  color: #181818 !important;
}
.navegacion ul li .form-group {
  border: 1px solid transparent;
  width: 100%;
}

.navegacion .container {
  max-width: 1120px;
}

@media (min-width: 320px) and (max-width: 768px) { 
    .navegacion .fh5co-top-logo {
        left: 2rem;
    }

}