html {
  scroll-behavior: smooth;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  font-family: "Maven Pro", sans-serif;
  padding-top: 70px;
  background: #f0f0f0!important;
}

.full-screen {
  padding: 4rem 0 5rem 0;
}

.small-text {
  color: #5b5b5b;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 50px;
  letter-spacing: 0.2px;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

a {
  font-weight: normal;
  text-decoration: none!important;
  transition: all 0.4s ease;
  border: solid 0 transparent;
  letter-spacing: 0.5px;
}
a:hover {
  color: #7088a0;
}

.navbar-brand .uil {
  font-size: 40px;
}

p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  color: #333333;
  font-family: "Maven Pro", sans-serif;
  letter-spacing: 0.5px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 600;
  color:#333333;
  letter-spacing: 0.5px;
}

h1 {
  font-size: 2.5em;
  margin: 24px 0;
}

h2 {
  font-size: 2.4em;
  font-weight: bold;
}

h3,
b, strong {
  font-weight: bold;
}

.boton {
  background: #fff;
  color: #5b5b5b;
  width: 300px;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  border-radius: 50px;
  padding: 15px 30px;
  font-size: 14px;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  overflow: hidden;
  transition: all 0.4s ease;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.boton:hover {
  color: #7088a0;
}
.boton.boton-bg {
  background: #7088a0;
  color: #ffffff;
  border: solid 0 transparent;
}
.boton.boton-bg:hover {
  background: #86a1bf;
  color: #ffffff;
  border: 0 transparent solid;
  outline: inherit;
}


@media (min-width: 992px) {
  .boton {
      margin-right: .9rem !important;
  }
}

.redes img {
  width: 50px;
  height: 50px;
  padding: 5px;
  transition: 0.4s;
  margin: 1rem 5px;
  opacity: 0.6;
}

.redes img:hover {
  transform: scale(1.20);
  opacity: 1;
  transition: 0.4s;
}

#bigTriangleColor {
  background: #181818;
}

#bigTriangleColor path {
  fill: #f0f0f0;
  stroke: #f0f0f0;
  stroke-width: 2;
}

section .container {
  max-width: 1200px;
}

@media (min-width: 320px) and (max-width: 768px) { 
 .full-screen {
    padding: 2rem 0;
  }
}