@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,700");
@import url("./css/style.css");
@import url("./css/pie.css");
@import url("./css/navbar.css");
@import url("./css/proyectos.css");
@import url("./css/formulario.css");
@import url("./scss/perfil.scss");
@import url("./scss/hamburguesa.scss");

