@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,700");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url("./css/style.css");
@import url("./scss/navbar.scss");
@import url("./scss/hamburguesa.scss");
@import url("./scss/perfil.scss");
@import url("./scss/intro.scss");
@import url("./scss/proyectos.scss");
@import url("./scss/slider.scss");
@import url("./css/formulario.css");
@import url("./scss/pie.scss");
@import url("./scss/clientes.scss");