body {
	align-items: center;
	justify-content: center;
	background: #181818;
}

$animationSpeed: 50s;

@keyframes scroll {
	from {
	    transform: translateX(0);
	  }
	  to {
	    transform: translateX(-50%);
	  }
}

.slider {
	height: auto;
	margin: auto;
	padding: 1.5rem 0 3.5rem 0;
	overflow: hidden;
	position: relative;
	width: 100%;
	background: #181818;
	
	.slide-track {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
  		width: fit-content;
	}
	.slide {
		height: 100px;
		width: 200px;
		flex: 0 0 auto;
  		padding: 0;
		margin: 0 1.2rem;
  		display: flex;
		gap: initial;
  		align-items: center;
  		justify-content: center;
  		opacity: 0.5;
  		transition: 0.3s;

		img {
			max-width: 160px;
    		max-height: 100px;
			width: auto;
    		height: auto;
		}
	}
}

.slide:hover {
  	opacity: 1;
  	transition: 0.3s;
}

.slide-track:hover {
  	animation-play-state: paused;
}

@media (max-width: 1024px) { 

	.slider .slide img, .slider .slide svg {
		max-width: 150px;
	}
}