.creditos {
    background-color: #222;
    color: #f0f0f0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: center;
    p {
        color: #ccc;
        font-size: 12px;
        font-weight: 400;
        font-family: "Maven Pro", sans-serif;
        margin: 0;
        text-align: center;
    }
    a {
        color: #7088a0;
        font-size: 12px;
        font-weight: bold;
        font-family: "Maven Pro", sans-serif;
        margin-left: 5px;
        transition: 0.3s;
        &:hover {
            color: white;
            transition: 0.3s;
        }
    }
}