.creditos {
    background-color: #222;
    color: #f0f0f0;
    padding: 1.1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    hr {
        border-color: white;
        max-width: 50%;
        margin: 1.1rem auto;
        flex-basis: 100%
    }
    img {
        margin: -3px 0.5rem 0 0;
        opacity: 0.7;
        transition: 0.3s;
        &:hover {
            opacity: 1;
            transition: 0.3s;
        }
    }
    p {
        color: #ccc;
        font-size: 13px;
        font-weight: 400;
        font-family: "Maven Pro", sans-serif;
        margin: 0;
        text-align: center;
    }
    a {
        color: #7088a0;
        font-size: 13px;
        font-weight: bold;
        font-family: "Maven Pro", sans-serif;
        margin-left: 5px;
        transition: 0.3s;
        &:hover {
            color: white;
            transition: 0.3s;
        }
    }
}