#introduccion {
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 3rem;
    h2, p {
        text-align: left;
        color: #222;
    }
    .skills {
		display: flex;
	    flex-direction: row;
	    gap: 0rem;
	    flex-wrap: wrap;
		img {
			opacity: 0.9;
			transition: 0.3s;
            margin: 0 1.5rem 1rem 0;
            &:hover {
                opacity: 1;
                transition: 0.3s;
		    }
		}
	}
    .caja {
        padding:2rem 1rem;
        filter: grayscale(100%);
        transition: 0.3s;
        &:hover {
            filter: grayscale(0%);
            transition: 0.3s;
        }
    }
}

@media (max-width: 1024px) { 
    #introduccion {
        .caja {
            filter: grayscale(0%);
        }
    }
}



.down {
	text-align: center;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	height: 50px;
	width: 150px;
	padding: 15px 0;
	animation: bounce 5s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}