#introduccion {
    padding-left: 2rem;
    padding-right: 2rem;
    h2, p {
        text-align: left;
        color: #222;
    }
    .skills {
		display: flex;
	    flex-direction: row;
	    gap: 0rem;
	    flex-wrap: wrap;
		img {
			opacity: 0.9;
			transition: 0.3s;
            margin: 0 1.5rem 1rem 0;
            &:hover {
                opacity: 1;
                transition: 0.3s;
		    }
		}
	}
    .cajas {
        margin-bottom: 1.5rem;
        .caja {
            padding:2rem 1rem 0 0;
            filter: grayscale(100%);
            transition: 0.3s;
            &:hover {
                filter: grayscale(0%);
                transition: 0.3s;
            }
        }
    }
}

@media (max-width: 1024px) { 
    #introduccion {
        .cajas {
            .caja {
                filter: grayscale(0%);
                transition: 0.3s;
            }
        }
    }
}

@media (max-width: 950px) { 
    #introduccion {
        .cajas {
            .caja {
                padding: 2rem 0;
            }
        }
    }
}

.flecha {
	text-align: center;
	margin: auto;
	width: 60px;
    display: block;
	animation: bounce 5s infinite;
    opacity: 1;
    transition: 0.3s;
    filter: brightness(0);
    
}

.flecha:hover {
    filter: brightness(1);
    transition: 0.3s;
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.skill-box{
    width: 100%;
    margin: 3px 0;
}
.skill-box .title{
    display: block;
    color: #F0F0F0;
    padding: 0px;
    height: 1rem;
    font-size: 13px;
    line-height: 30px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: left;
    text-transform: uppercase;
    transition: ease-in 0.3s;
}
.skill-box img {
    float: left;
    margin: 3px 10px 3px 15px!important;
}
.skill-box .skill-bar{
    height: 30px;
    width: 100%;
    border-radius: 50px;
    margin-top: 6px;
    background: rgba(0,0,0,0.0);
}
.skill-bar .skill-per{
    position: relative;
    display: block;
    height: 100%;
    width: 90%;
    border-radius: 50px;
    animation: progress 12.5s ease-in-out forwards;
    opacity: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.skill-per.html{
    background: #E6552E;
    width: 90%;
    animation-delay: 0.1s;
}
.skill-per.css{
    background: #2478BC;
    width: 100%;
    animation-delay: 0.1s;
}
.skill-per.javascript{
    background: #FC9B36;
    width: 60%;
    animation-delay: 0.2s;
}
.skill-per.bootstrap{
    background: #634183;
    width: 80%;
    animation-delay: 0.2s;
}
.skill-per.sass{
    background: #CF6B9D;
    width: 90%;
    animation-delay: 0.2s;
}
.skill-per.angular{
    background: #E3393E;
    width: 70%;
    animation-delay: 0.1s;
}
.skill-per.react{
    background: #2FAEE3;
    width: 90%;
    animation-delay: 0.2s;
}
.skill-per.wordpress{
    background: #2377BC;
    width: 100%;
    animation-delay: 0.2s;
}
.skill-per.vtex{
    background: #FF3A6C;
    width: 80%;
    animation-delay: 0.2s;
}
.skill-per.photoshop{
    background: #2478BC;
    width: 100%;
    animation-delay: 0.1s;
}
.skill-per.illustrator{
    background: #FC9B36;
    width: 90%;
    animation-delay: 0.2s;
}
.skill-per.figma{
    background: #333;
    width: 70%;
    animation-delay: 0.2s;
}
.skill-per.xd{
    background: #CF6B9D;
    width: 80%;
    animation-delay: 0.2s;
}

@keyframes progress {
    0%{
        width: 0;
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}