#introduccion {
    padding-left: 2rem;
    padding-right: 2rem;
    h2, p {
        text-align: left;
        color: #222;
    }
    .skills {
		display: flex;
	    flex-direction: row;
	    gap: 0rem;
	    flex-wrap: wrap;
		img {
			opacity: 0.9;
			transition: 0.3s;
            margin: 0 1.5rem 1rem 0;
            &:hover {
                opacity: 1;
                transition: 0.3s;
		    }
		}
	}
    .cajas {
        margin-bottom: 1.5rem;
        .caja {
            padding:2rem 1rem 0 0;
            filter: grayscale(100%);
            transition: 0.3s;
            &:hover {
                filter: grayscale(0%);
                transition: 0.3s;
            }
        }
    }
}

@media (max-width: 1024px) { 
    #introduccion {
        .cajas {
            .caja {
                filter: grayscale(0%);
                transition: 0.3s;
                padding: 2rem 0;
            }
        }
    }
}

.flecha {
	text-align: center;
	margin: auto;
	width: 60px;
    display: block;
	animation: bounce 5s infinite;
    opacity: 1;
    transition: 0.3s;
}

.flecha:hover {
    opacity: 0.4;
    transition: 0.3s;
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}