.navegacion {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1.7rem 0;
  z-index: 1;
  background: #f0f0f0;
  opacity: 0.9;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  height: 80px;

  &:hover {
    opacity: 1;
    background: #ffffff;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    box-shadow: 0 19px 38px rgb(0 0 0 / 9%), 0 15px 12px rgb(0 0 0 / 9%);
  }

  .fh5co-top-logo {
    float: left;
    top: 0.85rem;
    position: absolute;
  }

  .fh5co-top-menu, .fh5co-top-social {
    float: right;
    display: flex;
    flex-direction: row;
  }

  #bakt-logo {
    font-size: 20px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Montserrat", Arial, sans-serif;
  }

  .fh5co-social {
    margin: 3px 0 0 0;
    padding: 0;

    li {
      padding: 0;
      margin: 0;

      a {
        color: rgba(0, 0, 0, 0.4);
      }
    }
  }

  a {
    padding: 5px 0;
    color: #181818;
  }

  li a {
    font-size: 15px !important;
  }

  .menu-2 li {
    &.search {
      float: left;
      width: 83%;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;
      padding: 0;
      margin: -5px 0 0 0;
    }

    input[type=text] {
      padding: 6px 10px;
      width: 60%;
      border: none;
      font-size: 13px;
      margin-top: 4px;
      background: transparent;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;
      text-align: center;

      &:focus {
        width: 100%;
        outline: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      }
    }

    button {
      margin-top: 4px;
      padding: 5px;
      background: transparent;
      border: none;

      i {
        color: rgba(0, 0, 0, 0.5);
      }

      &:hover, &:focus {
        background: transparent !important;
      }

      &:hover i, &:focus i {
        color: #181818;
      }
    }
  }

  ul {
    padding: 0 0 0 5rem;
    display: flex;
    flex-direction: column;
    max-width: 250px;

    li {
      padding: 0;
      margin: 0;
      list-style: none;
      display: inline-block;
      text-transform: uppercase;
      margin: 0 1rem;
      font-weight: 600;
      color: #555;
      letter-spacing: 0.2rem;
      font-size: 14px;
      text-align: left;

      a {
        text-transform: uppercase;
        letter-spacing: 5px;
        font-weight: 600;
        font-size: 1rem !important;
        padding: 10px 0;
        color: #fff;
        float: left;
        text-align: left;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
        border-radius: 5px;
        font-family: "Roboto Condensed", sans-serif;
        opacity: 0.6;

        &:hover {
          opacity: 1;
          transition: 0.5s;
        }
      }

      width: 100% !important;
    }
  }
}

@media screen and (max-width: 850px) {
  .blanco {
    padding: 0px !important;
  }
}

.dropdown-menu > li > a {
  &:hover, &:focus {
    background: transparent !important;
    color: white !important;
  }
}

.navegacion {
  ul li {
    &.has-dropdown {
      position: relative;

      .dropdown {
        width: 150px;
        -webkit-box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.55);
        -moz-box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.55);
        box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.55);
        z-index: 1002;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: 40px;
        left: 0;
        text-align: left;
        background: #181818;
        padding: 20px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        border-radius: 4px;
        -webkit-transition: 0s;
        -o-transition: 0s;
        transition: 0s;

        &:before {
          bottom: 100%;
          left: 40px;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
          border-bottom-color: #181818;
          border-width: 8px;
          margin-left: -8px;
        }

        li {
          display: block;
          margin-bottom: 7px;

          &:last-child {
            margin-bottom: 0;
          }

          a {
            padding: 2px 0;
            display: block;
            color: #666666;
            line-height: 1.2;
            text-transform: none;
            letter-spacing: 0px;
            font-size: 15px;

            &:hover {
              color: #B5B5B7;
            }
          }
        }
      }

      &:hover a, &:focus a {
        color: #181818;
      }
    }

    &.active > a {
      color: #181818 !important;
    }

    .form-group {
      border: 1px solid transparent;
      width: 100%;
    }
  }

  .container {
    max-width: 1120px;
  }
}

.logotipo {
  transition: 0.5s;
  opacity: 1;
  margin: 0 1rem;

  &:hover {
    transition: 0.5s;
    opacity: 0.7;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .navegacion .fh5co-top-logo {
    left: 2rem;
  }
  .logotipo {
    margin: 0;
  }
}
