.animated {
  position: relative;
  margin: 15px 0;
}

.animated-info {
  display: inline-block;
  vertical-align: top;
  min-width: 360px;
  position: relative;
}

.animated-item h1 {
  color: #7088a0;
}

.animated-item-2 {
  color: #333333;
  font-size: 38px;
  font-weight: 500;
  font-family: "Roboto Condensed", sans-serif;
}

.animated-item {
  font-size: 38px;
  width: 100%;
  line-height: inherit;
  display: block;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  left: 0.8rem;
  color: #7088a0;
  animation: BottomTotop 9s linear infinite 0s;
}
.animated-item:nth-child(2n+2) {
  animation-delay: 3s;
}
.animated-item:nth-child(3n+3) {
  animation-delay: 6s;
}

@keyframes BottomTotop {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    transform: translateY(5px);
  }
  10% {
    opacity: 1;
    transform: translateY(0px);
  }
  25% {
    opacity: 1;
    transform: translateY(0px);
  }
  40% {
    opacity: 0;
    transform: translateY(5px);
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}


@media (max-width: 500px) { 
    .about-text {
      padding: 1rem;
    }
    .animated-text {
        height: 110px;
    }
    .animated-item {
      left: 0;
    }
    .about {
      padding: 1rem 0;
    }
    .about .custom-btn {
      width: 100%!important;
    }
}