.pie {
  padding: 1rem 2em;
  background: #181818;

  a {
    color: #7088a0 !important;
    font-weight: 600;
    display: block;
    cursor: pointer;
    text-transform: uppercase;
    line-height: 1.8;
    transition: 0.5s;
    font-family: "Maven Pro", sans-serif;

    &:hover {
      color: #f0f0f0 !important;
      transition: 0.5s;

      img {
        fill: #f0f0f0;
        filter: brightness(3);
        transition: 0.5s;
      }
    }
  }

  span {
    color: #a0a0a0;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.8;
    letter-spacing: 0.8px;
    font-family: "Maven Pro", sans-serif;
  }

  hr {
    border-color: white;
    max-width: 200px;
    margin: 1.1rem auto;
  }

  button {
    background: #7088a0;
    color: #ffffff;
    box-shadow: 0 5px 0 #48596a;
    width: 100%;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    border-radius: 50px;
    padding: 13px 29px;
    border: 0;
    font-size: 14px;
    margin: 7px auto !important;
    line-height: normal;
    text-transform: uppercase;
    overflow: hidden;
    transition: all 0.3s ease;
    letter-spacing: 1.5px;

    &:hover {
      color: #ccc;
      outline: inherit;
      border-bottom: hidden;
      box-shadow: 0 1px 0 #526477;
      transform: translateY(2px);
      background-color: #526477;
      outline: none;
    }
  }

  img {
    margin: 3px 10px;
    transition: 0.5s;
  }
}

.espacio-pie {
  margin: 2rem 0 !important;
}

@media (min-width: 320px) and (max-width: 768px) {
  .pie {
    padding: 1.5rem;
  }
}
