.proyecto {
  padding: 3rem 1rem 2rem 1rem!important;
  background-color: #181818;
  opacity: 0.96;
  &:hover {
  }
  h2, p, img, button {
    margin: 1rem;
  }
}

.proyectos {
  background-color: #181818;
  color: #f0f0f0;

  .slick-dots li {
    button:before {
      color: #f0f0f0;
      font-size: 12px;
      transition: 0.3s;
    }

    &.slick-active button:before {
      color: #7090a2;
    }
  }

  .slick-prev:before {
    font-size: 30px !important;
    transition: 0.3s;
    opacity: 0.3 !important;
    font-family: inherit !important;
  }
}

.slick-next:before {
  font-size: 30px !important;
  transition: 0.3s;
  opacity: 0.3 !important;
  font-family: inherit !important;
}

.proyectos .slick-prev:hover:before, .slick-next:hover:before {
  transition: 0.3s;
  opacity: 1 !important;
}

.proyectos {
  .slick-prev:before {
    content: '◄';
  }

  .slick-next:before {
    content: '►';
  }
}

/*
.proyectos .slick-prev, .slick-next {
    display: none!important;
}
    */

.slick-slide {
  padding: 2px;
  background: #181818;
  border-radius: 0;
  margin-left: 1rem;
  &:hover {
    background: linear-gradient(var(--gradient-angle), rgb(24 24 24), rgb(255 255 255),  rgb(24 24 24));
    animation: brillo 10s linear 0s infinite normal forwards;
    backdrop-filter: blur(50px);
    transform-style: preserve-3d;
    transition: transform 0.15s ease-out;
  }
}

.slick-slide > * {
  transform: translateZ(30px);
}
.slick-track {
  perspective: 1000px;
}
@keyframes brillo 
        {
           0%
           {
                --gradient-angle : 0deg;
           }
           100%
           {
                --gradient-angle : 360deg;
           }
        }
        @property --gradient-angle
        {
            syntax: "<angle>";
            initial-value: 0deg;
            inherits: false;
        }

@media (min-width: 320px) and (max-width: 1024px) {
  .slick-slide {
  }
  .proyecto img {
    margin: 0.8rem;
  }
}
