.proyecto {
	p {
		color: #ccc;
	}
	h3 {
		margin: 1rem;
	}
	.skills {
		display: flex;
	    flex-direction: row;
	    gap: 0rem;
	    flex-wrap: wrap;

		.habilidad {
			min-width: 80px;
		    height: 30px;
		    text-align: center;
		    display: inline;
		    border-radius: 20px;
		    padding: 0.3rem 0.5rem;
		    font-weight: 600;
		    font-size: 0.85rem;
		    margin: 0.6rem;
		    text-transform: uppercase;
			opacity: 0.4;
			transition: 0.3s;
		}
		.habilidad:hover {
			opacity: 1;
			transition: 0.3s;
		}
		.html {
			background: #E5532D;
			color: white;
		}
		.css {
			background: #1E76B8;
			color: white;
		}
		.js {
			background: #FFB34F;
			color: white;
		}
		.bootstrap {
			background: #5D3A7C;
			color: white;
		}
		.vtex {
			background: #F82169;
			color: white;
		}
		.angular {
			background: #C50A35;
			color: white;
		}
	}
}

