.proyecto {
	p {
		color: #ccc;
	}
	h3 {
		margin: 1rem;
	}
	.skills {
		display: flex;
	    flex-direction: row;
	    gap: 0rem;
	    flex-wrap: wrap;
		img {
			opacity: 0.5;
			transition: 0.3s;
		}
		img:hover {
			opacity: 1;
			transition: 0.3s;
		}
	}
}

.slick-slide {
	opacity: 0.7;
	transition: 0.3s;
	&:hover {
		opacity: 1;
		transition: 0.3s;
	}
}

@media (max-width: 500px) { 
	.slick-dots {
		left: 0;
	}
	.slick-slide {
	opacity: 1;
	}
}

.slick-slide {
  display: flex !important;
  justify-content: center;
}
