.proyecto {
	width: 100%;
	box-sizing: border-box;
	padding: 0;
	overflow: hidden;
	display: flex !important; 
    flex-direction: column;

	p {
		color: #ccc;
		opacity: 0.8;
		transition: 0.5s;
		&:hover {
			opacity: 1;
			color: white;
			transition: 0.5s;
		}
	}
	h3 {
		margin: 1rem;
	}
	.url {
		font-family: "Roboto Condensed", sans-serif;
		letter-spacing: 0.5px;
		font-size: 1.5rem;
		color: #7088a0;
		align-items: center;
		display: flex;
		flex-direction: row;
		text-transform: uppercase;
		font-weight: bold;
		transition: 0.5s;
		img {
			transition: 0.5s;
		}
		&:hover {
            color: #f0f0f0 !important;
            transition: 0.5s;
			img {
                fill: #f0f0f0;
                filter: brightness(3);
                transition: 0.5s;
            }
        }
	}
	.skills {
		display: flex;
	    flex-direction: row;
	    gap: 0rem;
	    flex-wrap: wrap;
		img {
			opacity: 0.4;
			transition: 0.3s;
		}
		img:hover {
			opacity: 1;
			transition: 0.3s;
		}
	}
}

.slick-slide {
	opacity: 0.7;
	transition: 0.3s;
	display: block !important;
	&:hover {
		opacity: 1;
		transition: 0.3s;
	}
	height: inherit !important; 
    div {
        height: 100%;
    }
}

@media (max-width: 500px) { 
	.slick-dots {
		left: 0;
	}
	.slick-slide {
	opacity: 1;
	}
}

.slick-slide .row {
  display: block;
}
.slick-slider {
  touch-action: pan-y;
	margin-top: 1.5rem;
	padding-left: 0,
}
.slick-track {
  will-change: transform;
  display: flex !important;
	align-items: stretch;
}

