.proyecto {
	p {
		color: #ccc;
	}
	h3 {
		margin: 1rem;
	}
	.skills {
		display: flex;
	    flex-direction: row;
	    gap: 0rem;
	    flex-wrap: wrap;
		img {
			opacity: 0.5;
			transition: 0.3s;
		}
		img:hover {
			opacity: 1;
			transition: 0.3s;
		}
	}
}

